<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/UserBoard/userBoardBasic :: setContent(~{this::content})}">
    <th:block th:fragment="content">
        <h1 class="mt-4">Board List Page</h1>

        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th >제목</th>
                <th >작성자</th>
<!--                <th scope="col">Contents</th>-->
                <th >작성일</th>

            </tr>
            </thead>
            <tbody>

            <tr th:each="dto : ${result.dtoList}">
                <th scope="row">[[${dto.boardId}]]</th>
                <td>
                    <a th:href="@{read(boardId = ${dto.boardId}, page = ${result.page})}">
                    [[${dto.boardTitle}]]
                       </a>
                </td>
                <td> [[${dto.boardWriter}]]</td>
<!--                <td> [[${dto.boardContents}]]</td>-->
                <td> [[${#temporals.format(dto.regDate, 'yyyy/MM/dd')}]]</td>
            </tr>
            </tbody>
        </table>

        </li>
        <li class="page-item" style="float: left" >
            <a class="page-link" th:href="@{register}">도움 요청</a>
        </li>
        <ul class="pagination h-100 justify-content-center align-items-center">
            <li class="page-item " th:if="${result.prev}">
                <a class="page-link" th:href="@{/UserBoard/list(page= ${result.start -1})}" tabindex="-1">Previous</a>
            </li>

            <li th:class=" 'page-item' + ${result.page == page? 'active' :''}"
                th:each="page : ${result.pageList}">
                <a class="page-link" th:href="@{/UserBoard/list(page = ${page})}">
                    [[${page}]]
                </a>
            </li>

            <li class="page-item" th:if="${result.next}">
                <a class="page-link" th:href="@{/UserBoard/list(page = ${result.end +1})}">Next</a>

        </ul>



        <script th:inline="javascript">
            var msg = [[${msg}]];
            console.log(msg);
            if(msg) {
                $(".modal").modal();
            }

            var searchForm = $("#searchForm");
            $(".searchBtn").click(function(e) {
                searchForm.submit();
            });
            $(".clearBtn").click(function(e) {
                searchForm.empty().submit();
            });
        </script>

    </th:block>
</th:block>
